<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCyrtmEIVriPVVvvhu21E7UNDH_4pYpYL4</string>
	<key>GCM_SENDER_ID</key>
	<string>101488028216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rajni.beauty</string>
	<key>PROJECT_ID</key>
	<string>beauty-891a4</string>
	<key>STORAGE_BUCKET</key>
	<string>beauty-891a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101488028216:ios:3d027c06769798485114cd</string>
</dict>
</plist>